{% extends 'base.html'%}

<!-- Styles block -->
{% block styles %}

    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% endblock %}

<!-- Block content -->
{% block content %}

    <!-- Business section  -->
    <div class="container space">
        <div class="row">
            <div class="col-md-12">
            <h3 class="title"><b> News Sources </b></h3>
            </div>

            {% for news_sources in sources %}
            
            <div class="col-sm-4 cardi w3-sand">
                <p class="text"><a href="/article/{{news_sources.id}}" target="_blank">{{ news_sources.name}}</a></p>
                  <!-- Click to view the articles -->
              
            </div>
            {% endfor %}
        </div>
    </div>
    

{% endblock %}
